.MovieList {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.Movie {
    height: 400px;
    width: 200px;
}
.Movie img {
    height: 60%;
    min-height: 60%;
}